@using TemplateFw.Dtos
@inject IOptions<WebSettings> webSettings
@model PagedList<AuthorInfoDto>
@{
    int itemNo = Model.FirstItemNo;
}
<h6 class="card-title-small align-items-center paging-items-info">
    <i class="fad fa-stream text-muted"></i>&nbsp;
    عرض البيانات <span id="spItemsCount" class="text-primary">( @(Model.Items.Count()) )</span> عنصر من اجمالي <span id="spTotalCount" class="text-primary">( @(Model.TotalCount ) )</span>
</h6>

<div class="table-responsive">
    <table class="table table-responsive-md table-hover">
        <thead>
            <tr>
                
<th><strong>#</strong></th>
<th><strong>@modulesLocalizer["Author_FirstName"]</strong></th>
<th><strong>@modulesLocalizer["Country"]</strong></th>
<th><strong>@modulesLocalizer["Author_CreationDate"]</strong></th>
<th><strong>@modulesLocalizer["Author_ModifiedDate"]</strong></th>
<th class="text-center"><strong>@commonResource["ActionEdit"]</strong></th>
<th class="text-center"><strong>@commonResource["ActionDelete"]</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    
<td><strong>@(itemNo++)</strong></td>
<td><b>@item.FirstName</b></td>
<td><b>@item.CountryName</b></td>
<td>@Html.Raw(item.CreationDate.ConvertToGridDateTime())</td>
<td>@Html.Raw(item.ModifiedDate.ConvertToGridDateTime())</td>
<td class="text-center"><a href="#!/author/edit/@(StringCipher.Encrypt(item.AuthorId.ToString()))" class="btn btn-outline-primary btn-sm py-1 mx-1">@localizer["ActionEdit"]</a></td>
<td class="text-center"><button onclick="actionsController.delete(this);" data-title="@item.FirstName" data-action-url="/author/Delete/@item.AuthorId" data-to-post='{"id":@(item.AuthorId)}' class="btn btn-outline-danger btn-md py-1">@localizer["ActionDelete"]</button></td>
                </tr>
                    }
            @if (Model.Items.Count() <= 0 || Model == null)
            {
            <tr><td colspan="7" class="text-center">@localizer["ThereIsNoData"]</td></tr>
            }

                </tbody>
    </table>
</div>
@Html.Partial("/Views/Shared/paging.cshtml", Model)

