@using TemplateFw.Dashboard.Auth;
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            
            <li>
                <a href="#!/article/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Articles"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/author/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Authors"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/category/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Categories"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/comment/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Comments"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/contactUs/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["ContactUs"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/country/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Countries"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/faq/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Faqs"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/language/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Languages"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/payment/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Payments"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/portal/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Portals"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/service/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Services"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/serviceType/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["ServiceTypes"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/subscription/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Subscriptions"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/subscriptionPlan/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["SubscriptionPlans"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/subscriptionStatus/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["SubscriptionStatuses"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/tag/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Tags"] </span>
                </a>
            </li>
            
            <li>
                <a href="#!/users/" class="ai-icon" aria-expanded="false">
                    <img src="~/images/icons/file-question-alt.svg" width="48" class="icon-img" />
                    <span class="nav-text">@modulesLocalizer["Users"] </span>
                </a>
            </li>
            
           @* @if (User.IsInRole(RoleProvider.SUPER_ADMIN))
            {
                <li>
                    <a href="#!/Identity" class="ai-icon" aria-expanded="false">
                        <img src="~/images/icons/setting.svg" width="48" class="icon-img" />
                        <span class="nav-text">إدارة مديري النظام</span>
                    </a>
                </li>
            }*@
        </ul>
    </div>
</div>