@inject IOptions<WebSettings> webSettings
@model TemplateFw.Dtos.Common.FaqFilter
@{

}
<div class="card master-form">
    <div class="card-body">
        <form id="grid-filter" class="grid-filter"
              action="/faq/IndexContent"
              data-container-id="containerBox"
              onsubmit="actionsController.search(this,event)">
            <input type="hidden" id="PageNumber" name="PageNumber" value="@Model.PageNumber" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-w600 px-4">البوابة</label>
                        <select class="select2 select-dynamic"
                            id="PortalId"
                            name="PortalId"
                            data-api-url="@(webSettings.Value.LookupApiUrl)lookup/portals"
                            @Html.Raw("data-default-val=\"\"");
                            @Html.Raw("data-default-text=\"الكل\"");
                            >
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-w600 px-4">الخدمة</label>
                         <select class="select2 select-dynamic"
                            id="ServiceId"
                            name="ServiceId"
                            data-api-url="@(webSettings.Value.LookupApiUrl)lookup/services"
                            data-cascade-api-url="@(webSettings.Value.LookupApiUrl)lookup/services"
                            data-default-val=""
                            data-default-text="الكل"
                            data-cascade-with="PortalId"> </select>

                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-w600 px-4">عدد العناصر</label>
                        <select id="ddlPageSize" name="PageSize" class="select2">
                            <option value="20">عرض 20 عنصر بالجدول</option>
                            <option value="50">عرض 50 عنصر بالجدول</option>
                            <option value="100">عرض 100 عنصر بالجدول</option>
                        </select>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="font-w600 px-4">بحث</label>
                        <input type="text" name="Question" class="form-control" placeholder="بحث ...">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#grid-filter').find('select,input').change(function () {
        $('#PageNumber').val('1');
        $('#grid-filter').trigger('submit');

    });
</script>


