@using TemplateFw.Shared.Domain.Enums
@inject IOptions<WebSettings> webSettings
@model TemplateFw.Dtos.FaqDto

@{
    bool isUpdateMode = (ViewBag.IsUpdateMode != null) ? ViewBag.IsUpdateMode : false;

}
<form method="post" id="frmForm" name="frmForm" action="@(ViewBag.ActionUrl)">
    <div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center ">
        <div class=" mr-auto">
            <h3 class="font-w600 mb-2">@modulesLocalizer["Faq"]</h3>
            <p class="mb-0">@modulesLocalizer["FaqManagement"]</p>
        </div>
    </div>
    <div class="card master-form">
        <div class="card-header">
            <h4 class="card-title fs-16 text-primary">
            </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <input class="form-control"   type="hidden" data-type="hidden" data-smk-type="hidden" id="FaqId" name="FaqId" placeholder="" required maxlength="10" value="@(Model?.FaqId)"  smk-error-msg-required="" data-smk-max="9999999999" data-smk-min="-9999999999"><div class="col-md-6 eng-form-element">
<div class="form-group">
    <label class="form-label-small px-3" for="QuestionAr">@modulesLocalizer["Faq_QuestionAr"] <small><i class="fas fa-asterisk text-danger fa-xs"></i></small>:</label>
    <textarea rows="4"
              class="form-control"
               id="QuestionAr" name="QuestionAr" placeholder="" required maxlength="256" value="@(Model?.QuestionAr)"  smk-error-msg-required="">@(Model?.QuestionAr)</textarea>
              
    <i class="accent"></i>
</div>
</div>
<div class="col-md-6 eng-form-element">
<div class="form-group">
    <label class="form-label-small px-3" for="QuestionEn">@modulesLocalizer["Faq_QuestionEn"] <small><i class="fas fa-asterisk text-danger fa-xs"></i></small>:</label>
    <textarea rows="4"
              class="form-control"
               id="QuestionEn" name="QuestionEn" placeholder="" required maxlength="256" value="@(Model?.QuestionEn)"  smk-error-msg-required="">@(Model?.QuestionEn)</textarea>
              
    <i class="accent"></i>
</div>
</div>
<div class="col-md-6 eng-form-element">
<div class="form-group">
    <label class="form-label-small px-3" for="AnswerAr">@modulesLocalizer["Faq_AnswerAr"] <small><i class="fas fa-asterisk text-danger fa-xs"></i></small>:</label>
    <textarea rows="4"
              class="form-control"
               id="AnswerAr" name="AnswerAr" placeholder="" required maxlength="256" value="@(Model?.AnswerAr)"  smk-error-msg-required="">@(Model?.AnswerAr)</textarea>
              
    <i class="accent"></i>
</div>
</div>
<div class="col-md-6 eng-form-element">
<div class="form-group">
    <label class="form-label-small px-3" for="AnswerEn">@modulesLocalizer["Faq_AnswerEn"] <small><i class="fas fa-asterisk text-danger fa-xs"></i></small>:</label>
    <textarea rows="4"
              class="form-control"
               id="AnswerEn" name="AnswerEn" placeholder="" required maxlength="256" value="@(Model?.AnswerEn)"  smk-error-msg-required="">@(Model?.AnswerEn)</textarea>
              
    <i class="accent"></i>
</div>
</div>
<div class="col-md-6 eng-form-element">
<div class="form-group select2-lg">
    <label class="form-label-small px-3" for="PortalId">@modulesLocalizer["Portal"] <small><i class="fas fa-asterisk text-danger fa-xs"></i></small>:</label>
@await Html.PartialAsync("/Views/RunTimeControls/Select.cshtml",
               new TemplateFw.Shared.Dto.RunTimeSelectControl(){
                  Id="PortalId",
                   AdditionalAttributes = "",
                   ApiUrl = webSettings.Value.LookupApiUrl+ "lookup/portals", 
                   Value = Model?.PortalId.ToString(),
                   AddDefaultOption=(!isUpdateMode)
               });
    
</div>
</div>
<div class="col-md-6 eng-form-element">
<div class="form-group select2-lg">
    <label class="form-label-small px-3" for="ServiceId">@modulesLocalizer["Service"] :</label>
@await Html.PartialAsync("/Views/RunTimeControls/Select.cshtml",
               new TemplateFw.Shared.Dto.RunTimeSelectControl(){
                  Id="ServiceId",
                   AdditionalAttributes = "",
                   ApiUrl = webSettings.Value.LookupApiUrl+ "lookup/services", 
                   CascadeWith = "PortalId", 
                   CascadeApiUrl = webSettings.Value.LookupApiUrl+ "lookup/services?portalId=", 
                   Value = Model?.ServiceId.ToString(),
                   AddDefaultOption=(!isUpdateMode)
               });
    
</div>
</div>

            </div>
        </div>
    </div>
    
    <div class="text-center">
        <button type="button" id="Send" class="btn btn-primary font-size-13 font-weight-bold"
                onclick="actionsController.submit('frmForm',this,event)"
                on-sccess-redirect-url="/#!/faq/">
            <i class="far fa-lg fa-check"></i> ارسال
        </button>


        <a id="backActionBtn" href="/#!/faq" class="btn btn-danger mr-3">
            <i class="fas fa-times fa-lg fa-arrow-left"></i> العودة
        </a>

    </div>
</form>

<script>
    actionsController.prepareForm("frmForm");
</script>