@using TemplateFw.Shared.Domain.Enums
@inject IOptions<WebSettings> webSettings
@model TemplateFw.Dtos.ServiceTypeDto

@{
    bool isUpdateMode = (Model.ServiceTypeId != 0);
    string isUpdateModeString = isUpdateMode.ToString().ToLower();
}
<form method="post" id="frmForm" name="frmForm" action="/serviceType/Save" data-is-update-mode="@(isUpdateModeString)">
    <div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center ">
        <div class=" mr-auto">
            <h3 class="font-w600 mb-2">@localizer["ServiceType"]</h3>
            <p class="mb-0">@localizer["ServiceTypeManagement"]</p>
        </div>
    </div>
    <div class="card master-form">
        <div class="card-header">
            <h4 class="card-title fs-16 text-primary">
            </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 eng-form-element">
<div class="form-group">
    <label class="form-label-small px-3" for="ServiceTypeId">@localizer["ServiceType_ServiceTypeId"] <small><i class="fas fa-asterisk text-danger fa-xs"></i></small>:</label>
    <input class="form-control"   type="number" data-type="number" data-smk-type="number" id="ServiceTypeId" name="ServiceTypeId" placeholder="" required maxlength="4" value="@(Model.ServiceTypeId)"  smk-error-msg-required="" data-smk-max="9999999999" data-smk-min="-9999999999" max="9999999999" min="-9999999999">
    
    <i class="accent"></i>
</div>
</div>
<div class="col-md-6 eng-form-element">
<div class="form-group">
    <label class="form-label-small px-3" for="NameAr">@localizer["ServiceType_NameAr"] <small><i class="fas fa-asterisk text-danger fa-xs"></i></small>:</label>
    <input class="form-control"   type="text" data-type="text" data-smk-type="text" id="NameAr" name="NameAr" placeholder="" required maxlength="120" value="@(Model.NameAr)"  smk-error-msg-required="">
    
    <i class="accent"></i>
</div>
</div>
<div class="col-md-6 eng-form-element">
<div class="form-group">
    <label class="form-label-small px-3" for="NameEn">@localizer["ServiceType_NameEn"] <small><i class="fas fa-asterisk text-danger fa-xs"></i></small>:</label>
    <input class="form-control"   type="text" data-type="text" data-smk-type="text" id="NameEn" name="NameEn" placeholder="" required maxlength="120" value="@(Model.NameEn)"  smk-error-msg-required="">
    
    <i class="accent"></i>
</div>
</div>

            </div>
        </div>
    </div>
    
    <div class="text-center">
        <button type="button" id="Send" class="btn btn-primary font-size-13 font-weight-bold"
                onclick="saveForm(this,event)"
                on-sccess-redirect-url="/#!/serviceType/"
                data-is-update-mode="@(isUpdateModeString)">
            <i class="far fa-lg fa-check"></i> ارسال
        </button>


        <a id="backActionBtn" href="/#!/serviceType" class="btn btn-danger mr-3">
            <i class="fas fa-times fa-lg fa-arrow-left"></i> العودة
        </a>

    </div>
</form>

<script>

    $("#frmForm :input").change(function () {
        $("#frmForm").data("changed", true);
    });

    function saveForm(obj, event) {

        if ($("frmForm").attr("data-is-update-mode") === 'false') {
            app.form.submit(obj, event)
        }
        else {
            swal.fire("لا يوجد تعديل", "لا يوجد بيانات تم تعديلها", "info");
            window.location = $("#backActionBtn").attr("href");
        }
    }
</script>